{% extends 'blog/base.html' %}

{% block content %}
    <div class="work-experience">
        <h2>{{ work_experience.title }}</h2>
        <p>{{ work_experience.description }}</p>
        <p>From: {{ work_experience.start_date }}</p>
        <p>To: {{ work_experience.end_date }}</p>
    {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'work_experience_edit' pk=work_experience.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    </div>
{% endblock %}