{% extends 'blog/resume_view.html' %}

{% block content %}
    <div class="content-header">
        <h2><b>Work Experiences</b></h2>
        {% if user.is_authenticated %}
            <a href="{% url 'work_experience_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <p>Here is a list of my relevant work experiences and the companies that I worked those positions at.</p>
    </div>

    {%  for work_experience in work_experiences %}
        <div class="work-experience">
            <h2><a href="{% url 'work_experience_detail' pk=work_experience.pk %}">{{ work_experience.title }}</a></h2>
            <p>{{ work_experience.description }}</p>
            <p><b>From:</b> {{ work_experience.start_date }}</p>
            <p><b>To:</b> {{ work_experience.end_date }}</p>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'work_experience_edit' pk=work_experience.pk %}" class="glyphicon glyphicon-pencil"></a>
            <a href="{% url 'work_experience_delete' pk=work_experience.pk %}" class="glyphicon glyphicon-trash"></a>
        {% endif %}

        {% if forloop.last == False %}
            <hr/>
        {% endif %}
    {% endfor %}
    <hr>
    <div class="content-header">
        <h2><b>Personal Interests and Skills</b></h2>
        {% if user.is_authenticated %}
            <a href="{% url 'interest_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <p>Here I have included a list of relevant skills and experiences that are relevant to job application.</p>
    </div>
    {% for interest in interests %}
        <div class="interest">
            <h2><a href="{% url 'interest_detail' pk=interest.pk %}">{{ interest.title }}</a></h2>
            <p>{{ interest.description }}</p>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'interest_edit' pk=interest.pk %}" class="glyphicon glyphicon-pencil"></a>
            <a href="{% url 'interest_delete' pk=interest.pk %}" class="glyphicon glyphicon-trash"></a>
        {% endif %}

        {% if forloop.last == False %}
            <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}